/* Услуби барномасозӣ (dark mode) */
body {
  margin: 0;
  font-family: monospace;
  background-color: #121212;
  color: #f5f5f5;
}

/* Навбар */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  height: 80px;        /* андозаи логотип */
  width: 80px;         /* баробар ба баландӣ, то давра шавад */
  border-radius: 50%;  /* ин онро гирда мекунад */
  object-fit: cover;   /* тасвирро дуруст бурида нишон медиҳад */
}
header .logo img {
  height: 30px;        /* андозаи логотип */
  width: 30px;         /* баробар ба баландӣ, то давра шавад */
  border-radius: 50%;  /* ин онро гирда мекунад */
  object-fit: cover;   /* тасвирро дуруст бурида нишон медиҳад */
}


header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #f5f5f5;
}
header nav a:hover {
  color: #00bfff;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
  font-size: 2.5em;
}
.hero p {
  font-size: 1.2em;
  color: #cccccc;
}

/* Projects */
.projects {
  padding: 50px 20px;
}
.projects h2 {
  text-align: center;
}
.project {
  background-color: #1e1e1e;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
}
.project a {
  color: #00bfff;
  text-decoration: none;
}
.project a:hover {
  text-decoration: underline;
}

/* Contact */
.contact {
  padding: 50px 20px;
  text-align: center;
}
.contact a {
  color: #00bfff;
}

/* Social */
.social {
  padding: 50px 20px;
  text-align: center;
}
.icons a {
  margin: 0 10px;
  color: #f5f5f5;
  text-decoration: none;
}
.icons a:hover {
  color: #00bfff;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e;
  color: #888888;
}
